.header {
    width: 100%;
    font-size: 2rem;
    color: orangered;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  .title {
    float: left;
  }
  
  .scores {
    float: right;
  }